# ![](https://avatars.githubusercontent.com/u/80991770?s=30) Flake checkup

{{#if clean}}
✅ The Determinate Flake Checker Action scanned your `flake.lock` and didn't identify any problems.
{{/if}}
{{#if dirty}}
⚠️ The Determinate Nix Installer Action scanned your `flake.lock` and discovered {{num_issues}} issues that we recommend looking into.

{{#if has_disallowed}}
## Non-supported Git branches for Nixpkgs

{{#each disallowed}}
* The `{{this.details.input}}` input uses the `{{this.details.ref}}` branch
{{/each}}

<details>
<summary>What to do 🧰</summary>
<p>Use one of these branches instead:</p>

{{#each supported_ref_names}}
* `{{this}}`
{{/each}}

<p>Here's an example:</p>

```nix
{
  inputs.nixpkgs.url = "github:NixOS/nixpkgs/nixpkgs-unstable";
}
```
</details>

<details>
<summary>Why it's important to use supported branches 📚</summary>
<a href="https://zero-to-nix.com/concepts/nixos">NixOS</a>'s release branches stop receiving updates roughly 7 months after release and then gradually become more and more insecure over time.
Non-release branches receive unpredictable updates and should be avoided as dependencies.
Release branches are also certain to have good <a href="https://zero-to-nix.com/concepts/caching">binary cache</a> coverage, which other branches can't promise.
</details>
{{/if}}

{{#if has_outdated}}
## Outdated Nixpkgs dependencies

{{#each outdated}}
* The `{{this.details.input}}` input is **{{this.details.num_days_old}}** days old
{{/each}}

The maximum recommended age is **{{max_days}}** days.

<details>
<summary>What to do 🧰</summary>
<p>For a more automated approach, use the <a href="https://github.com/determinateSystems/update-flake-lock"><code>update-flake-lock</code></a>
GitHub Action to create pull requests to update your <code>flake.lock</code>. Here's an example Actions workflow:</p>

```yaml
steps:
  - name: Automatically update flake.lock
    uses: DeterminateSystems/update-flake-lock
    with:
      pr-title: "Update flake.lock"        # PR title
      pr-labels: [dependencies, automated] # PR labels
```

<p>For a more ad hoc approach, use the <a href="https://nixos.org/manual/nix/stable/command-ref/new-cli/nix3-flake-update.html"><code>nix flake update</code></a> utility:</p>

```shell
nix flake update
```
</details>

<details>
<summary>Why it's important to keep Nix dependencies up to date 📚</summary>
<a href="https://github.com/NixOS/nixpkgs">Nixpkgs</a> receives a continuous stream of security patches to keep your software and systems secure.
Using outdated revisions of Nixpkgs can inadvertently expose you to software security risks that have been resolved in more recent releases.
</details>
{{/if}}

{{#if has_non_upstream}}
## Non-upstream Nixpkgs dependencies

{{#each non_upstream}}
* The `{{this.details.input}}` input has `{{this.details.owner}}` as an owner rather than the `NixOS` org
{{/each}}

<details>
<summary>What to do 🧰</summary>
<p>Use a Nixpkgs dependency from the <a href="https://github.com/nixos"><code>NixOS</code></a> org. Here's an example:</p>

```nix
{
  inputs.nixpkgs.url = "github:NixOS/nixpkgs";
}
```

<p>If you need a customized version of Nixpkgs, we recommend that you use
<a href="https://nixos.wiki/wiki/Overlays">overlays</a> and
per-package <a href="https://ryantm.github.io/nixpkgs/using/overrides">overrides</a>.</p>
</details>

<details>
<summary>Why it's important to use upstream Nixpkgs 📚</summary>
We don't recommend using forked or re-exported versions of Nixpkgs.
While this may be convenient in some cases, it can introduce unexpected behaviors and unwanted security risks.
While <a href="https://github.com/NixOS/nixpkgs">upstream Nixpkgs</a> isn't bulletproof&mdash;nothing in software is!&mdash;it has a wide range of security measures in place, most notably continuous integration testing with <a href="https://hydra.nixos.org/">Hydra</a>, that mitigate a great deal of supply chain risk.
</details>
{{/if}}
{{/if}}

<p>Feedback? Let us know at <a href="https://github.com/DeterminateSystems/flake-checker">DeterminateSystems/flake-checker</a>.</p>
